.menu_top {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    background-color: rgba(70, 70, 70, 0.7);
}

.menu_people {
    margin-left:30px
}

.menu_back_btn {
    margin-right: 30px;
}

#menu_back {
    font-family: "century_gothic", Verdana, Tahoma;
    font-size: 25px;
}

.menu_people span {
    font-family: 'bank_gothic', Verdana, Tahoma;
    color: #ffd27f;
}

.menu_top:after{
    content:'';
    display:block;
    clear: both;
}

.menu_content {
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: center;
    margin-top: 25px;
}

.menu_dishes {
    border-bottom: none;
    border-right: dashed 1px rgba(255,255,255,0.5);
    display: inline-block;
    padding-right: 25px;
}

.menu_price {
    display: inline-block;
    padding: 15px;
}

.menu_price span {
    color: #ffd27f;
}

.menu_print {
    margin-top: 15px;
    padding:20px;
    border-top: solid 1px rgba(255,255,255,0.5);
    height: 160px;
}

#menu_print_btn {
    font-size: 20px;
}


.modal-content {
    background-color: rgba(86,86,86,0.7);
    border-radius: 20px;
}

.modal-content .modal-header .close{
    color: #fff;
}

.modal-content .modal-header .close:hover {
    color: #ffd27f;
}

.menu_modal {
    height: 100%;
    overflow: scroll;
}

#menu_modal_table tr {
    height: 150px;
    border-bottom: dashed 1px rgba(255,255,255,0.5);
}

.modal_img {
    width: 15%;
    border-radius: 7px;
    opacity: 0.7;
}

.modal_img img {
    width: 90px;
    height: 90px;
    border-radius: 7px;
}

.modal_desc {
    width: 40%;
    opacity: 0.7;
}

.modal_desc .modal_dish_label {
    font-size: 17px;
    color: #ffd27f;
}

.modal_desc .modal_dish_type {
    font-size: 14px;
    margin-bottom: 5px;
}

.modal_desc .modal_dish_detail {
    width: 100%;
}

.modal_preperation {
    width: 45%;
}

/* for mobile + teblet screens*/
@media (max-width:990px)  {

    .menu_top {
        padding: 5px;
        font-size: 13px;
    }

    #menu_back {
        font-size: 13px;
    }

    .menu_people {
        margin-left:5px
    }

    .menu_back_btn {
        margin-right: 0px;
    }

    .menu_content {
        margin-top: 10px;
    }

    .menu_dishes {
        border-right:none;
        border-bottom: dashed 1px #fff;
        display: block;
        padding-bottom: 5px;
    }

    .menu_print {
        margin-top: 5px;
        padding:20px;
        border-top: solid 1px rgba(255,255,255,0.5);
        height: 160px;
    }

    .modal_preperation {
        display: none;
    }
}
